<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/styleIndex.css">
</head>
<body>
  <div class="container">
    <h1>Bem-vindo à plataforma</h1>
    <div class="login-buttons">
      <button class="login-button" id="company-login">Entrar como Empresa</button>
      <button class="login-button" id="developer-login">Entrar como Desenvolvedor</button>
    </div>
    <div class="create-account">
      <p>Criar uma conta:</p>
      <div class="scrollable-buttons">
        <button class="account-button" id="company-account">Criar Conta de Empresa</button>
        <button class="account-button" id="developer-account">Criar Conta de Desenvolvedor</button>
      </div>
    </div>
  </div>
</body>
</html>
