html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src='https://www.google.com/recaptcha/api.js'></script> 
<title>Formulário do reCAPTCHA</title>
</head>
<body>
  <form action="/authlogin" method="post">
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" required>
      <input type="submit" value="Enviar">
    </div>
    
  </form>
  <script type="text/javascript">
    let form = document.querySelector('#register');
    form.addEventListener('submit',  e => {
        e.preventDefault();
        let name = document.querySelector('#name');
        let email = document.querySelector('#email');
        if(!name.value || !email.value) {
            alert('Nome e Email são Obrigatorios');
            } else{
            grecaptcha.execute();
        }       
        });
    function sendForm(){
        alert("reCAPTCHA funcionou");
    }
  </script>
  </body>
</html>